
@import url('https://fonts.cdnfonts.com/css/times-new-roman');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }
  
:root {
    --primary-color: darkblue;
    --secondary-color:black;
    --accent1-color: gold;
    --accent2-color: gold;
  
    --heading-font: '______', serif;
    --paragraph-font: '______', serif;
  
    --nav-background-color: aliceblue;
    --nav-link-color:blueviolet;
    --nav-hover-link-color:blueviolet;

    --nav-hover-background-color: aliceblue;
  }

  body {
    font-family: var(--paragraph-font);
    max-width: ______;
    padding: ______;
  }
  
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }
  
header {
    padding: 20px;
    background-color: var(--accent1-color);
  }
  
p {
    padding: 25px;
  }
  
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }
